{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downdog Knowledge</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="icon" href="{% static 'images/Monk-logo.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>
    <style>
        /* Add any custom styles here */
        .row {
            display: flex;
        }

        .video-container,
        .text-container {
            flex: 1;
            margin: 75px;
        }

        .text-container p {
            font-size: 18px;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <a href="{% url 'blog' %}" class="anch">
            <img class="logo" src="{% static 'images/anh6.png' %}" alt="Monk-logo"></a>
        <div class="watermark1">
            <a href="{% url 'blog' %}" class="anch">
                <img src="{% static 'images/watermark/watermark (6).png' %}" class="watermark" alt="">
                <img src="{% static 'images/watermark/watermark (7).png' %}" class="watermark" alt="">
                <img src="{% static 'images/watermark/watermark (8).png' %}" class="watermark" alt="">
                <img src="{% static 'images/watermark/watermark (5).png' %}" class="watermark2" alt="">
                <img src="{% static 'images/watermark/watermark (9).png' %}" class="watermark" alt="">
                <img src="{% static 'images/watermark/watermark (10).png' %}" class="watermark" alt="">
                <img src="{% static 'images/watermark/watermark (11).png' %}" class="watermark" alt="">
            </a>
        </div>

        <div class="nav">
            <a class="nav-link" href="{% url 'levelselection' %}">Trang chủ</a>
            <a class="nav-link" href="{% url 'profile' %}">Hồ sơ</a>
            <a class="nav-link" href="{% url 'signout' %}">Đăng xuất</a>
        </div>
    </nav>
    <div class="container-fluid h-100">
        <div class="row h-50">
            <div class="col-12 p-0">
                <h1 class="text-center mt-2">Hướng dẫn tư thế Downdog</h1>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-12 col-md-6 p-0 video-container ml-5">
                <!-- Place your video in a styled container -->
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/EC7RGJ975iM?start=3"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-12 col-md-6 p-0 text-container mr-5">
                <!-- Add the benefits and procedure of the asana here -->
                <p>Tư thế downdog (hay còn gọi là tư thế chó cúi xuống) là một trong những động tác yoga cơ bản và phổ biến nhất. Để thực hiện tư thế này, bạn có thể làm theo các bước sau:

                    <br>1. Bắt đầu từ tư thế bò, đặt tay hai bên vai và đầu gối hơi cong.
                    <br>2. Thở ra, đẩy đôi chân lên, nâng mông lên trên và đẩy tay xuống đất, tạo thành một hình tam giác ngược.
                    <br>3. Giữ cho đầu, cổ và tay ở cùng một đường thẳng, đồng thời giữ đùi và đôi chân thẳng và song song với nhau.
                    <br>4. Cố gắng duỗi đôi tay và đẩy chân xuống để tạo ra sự căng thẳng trên toàn bộ cơ thể.
                    <br>5. Giữ tư thế này trong khoảng 30 giây hoặc nhiều hơn tùy vào khả năng của bạn.
                    <br>6. Thở vào và trở về tư thế bò.
                    <br>Tư thế downdog giúp tăng cường sức mạnh cơ bắp, linh hoạt và tập trung, đồng thời cải thiện tuần hoàn máu và giảm căng thẳng.
                    </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{% url 'result' %}" class="btn btn-primary btn-lg mx-auto">Start</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>